* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(44, 90, 140);
}
blockquote {
    font-family: Arial, Helvetica, sans-serif;
}
.elementos_apresentacao {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.cabecalho {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.logo_onda {
    height: 100px;
    border-radius: 50%;
}
.informacoes_encontro_cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.1;
}
.titulo_encontro_elementos {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Cinzel', 'Times New Roman', serif;
}
.titulo_encontro {
    margin: 0;
    font-size: 5rem;
    line-height: 1.4;
    text-align: center;
}
.texto_organizado_por {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.botao_comecar_encontro {
    text-decoration: none;
    margin-top: 2rem;
    padding: 0.8rem;
    border-radius: 25px;
    text-align: center;
    background-color: rgb(254, 221, 80);
    color: black;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.botao_comecar_encontro:hover {
    transition: 0.3s;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px black;
    opacity: 0.85;
}
.ultimo_elementos_apresentacao {
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.div_links_topicos_encontro {
    border-radius: 10px;
    margin: 0 15px 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(254, 221, 80);
}
.div_links_topicos_encontro h3 {
    font-family: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
}
.links_topicos_encontro {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1.33rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.links_topicos_encontro li {
    margin-bottom: 10px;
}
.links_topicos_encontro li:last-child {
    margin-bottom: 0;
}
.links_topicos_encontro a, .sessao_rodape_links a, .informacoes_finais a {
    text-decoration: none;
    color: rgb(44, 90, 140);
}
.links_topicos_encontro a:hover, .sessao_rodape_links a:hover, .informacoes_finais a:hover {
    text-decoration: underline;
    color: rgb(32, 65, 100);
}
.layout_topicos {
    margin-bottom: 5rem;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'tituloTopico tituloTopico'
    'paragrafosTopico imagemTopico'
    'hyperlinkTopicos hyperlinkTopicos';
    color: white;
}
.layout_topicos h1 {
    grid-area: tituloTopico;
    text-align: center;
    font-family: 'Cinzel', 'Times New Roman', serif;
}
.layout_topicos div {
    grid-area: paragrafosTopico;
    width: 90%;
    align-self: center;
    justify-self: center;
    line-height: 1.4;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.layout_topicos img {
    grid-area: imagemTopico;
    height: 300px;
    aspect-ratio: 16 / 9;
    border: 5px solid rgb(254, 221, 80);
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    align-self: center;
    justify-self: center;
}
.layout_topicos a {
    grid-area: hyperlinkTopicos;
    justify-self: center;
    align-self: center;
    color: rgb(254, 221, 80);
    text-decoration: none;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.layout_topicos a:hover {
    text-decoration: underline;
    color: rgb(209, 175, 22);
}
.sessao_fontes_referencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sessao_fontes_referencias h2 {
    font-family: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
    color: white;
}
.sessao_fontes_referencias ul {
    list-style-type: none;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.sessao_fontes_referencias li {
    margin-bottom: 10px;
}
.sessao_fontes_referencias a {
    color: rgb(254, 221, 80);
    text-decoration: none;
}
.sessao_fontes_referencias a:hover {
    text-decoration: underline;
}
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 221, 80);
}
.rodape h2 {
    font-family: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
    white-space: nowrap;
}
.sessao_rodape_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sessao_rodape_links a {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.sessao_sobre_nos {
    width: 33%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sessao_sobre_nos span, .sessao_uteis span {
    height: 33%;
    margin: 0;
    padding: 0;
}
.sessao_uteis {
    width: 34%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.links_uteis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.sessao_redes_sociais {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
i.fa-brands.fa-instagram.fa-xl {
    color: rgb(193, 53, 132);
}
i.fa-brands.fa-facebook.fa-xl{
    color: rgb(59, 89, 152);
}
.logo_onda_rodape_sessao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo_onda_tamanho_rodape {
    height: 250px;
    margin: 2rem 0 2rem 0;
}
.informacoes_finais {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-color: rgb(209, 175, 22);
}
.copy_produtor_github {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.produtor_github {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.frase_final_quaresma {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 5rem;
}
